<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%-include('sidebar')%>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%-include('nav')%>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container">
                <div class="row">
                    <%  if(profileUser.length==0) { %>
                    <div class="col-lg-12">
                        <div class="profile card card-body mt-5 mb-5 px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="photo-content">
                                    <div class="cover-photo rounded"></div>
                                </div>
                                <div class="profile-info">
									<div class="profile-photo">
										<img src="img/imageUplod1698906158019-photo-1508919801845-fc2ae1bc2a28.jpeg" class="img-fluid " alt="img">
									</div>
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0"><%= user.name %></h4>
											<p></p>
										</div>
										<div class="profile-email px-2 pt-2">
											<h4 class="text-muted mb-0"><%= user.email %></h4>
											<p>Email</p>
										</div>
										<div class=" ms-auto">
											<div class="btn sharp btn-primary tp-btn" >
                                                <a href="/add/<%=user.id%>">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                                </a>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }else{ %>
                        <% profileUser.forEach((users)=>{ %>
                            <% if(users.userId == user_id) { %> 
                                <div class="col-lg-12">
                                    <div class="profile card card-body mt-5 mb-5 px-3 pt-3 pb-0">
                                        <div class="profile-head">
                                            <div class="photo-content">
                                                <div class="cover-photo rounded"></div>
                                            </div>
                                            <div class="profile-info">
                                                <div class="profile-photo">
                                                    <img src="<%= users.imgpath %>" class="img-fluid " alt="profile">
                                                </div>
                                                <div class="profile-details">
                                                    <div class="profile-name px-3 pt-2">
                                                        <h4 class="text-primary mb-0"><%= users.name %></h4>
                                                        <p><%= users.specialty %></p>
                                                    </div>
                                                    <div class="profile-email px-2 pt-2">
                                                        <h4 class="text-muted mb-0"><%= users.email %></h4>
                                                        <p>Email</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="profile-counter">
                                                <div class="card p-4">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h4 class="mb-0 text-center">200</h4>
                                                            <p class="text-center">Followers</p>
                                                        </div>
                                                        <div class="col-4 ">
                                                            <h4 class="mb-0 text-center">50</h4>
                                                            <p class="text-center">Place Stay</p>
                                                        </div>
                                                        <div class="col-4 mb-3">
                                                            <h4 class="mb-0 text-center">100</h4>
                                                            <p class="text-center">Reviews</p>
                                                        </div>
                                                        <div class="movie-btn d-flex justify-content-between">
                                                            <a class="fs-4 fw-bold" href="">Follow</a>
                                                            <a class="fs-4 fw-bold" href="">Send Message</a>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="card mt-5">
                                                <div class="card-body">
                                                    <div class="profile-blog">
                                                        <h5 class="text-primary d-inline">Today Highlights</h5>
                                                        <img src="img/pr-blog.jpg" alt="pr-blog" class="img-fluid mt-4 mb-4 w-100 rounded">
                                                        <h4><a href="post-details.html" class="text-black">Darwin Creative Agency Theme</a></h4>
                                                        <p class="mb-0">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="card mt-5">
                                                <div class="card-body">
                                                    <div class="profile-interest">
                                                        <h5 class="text-primary d-inline">Interest</h5>
                                                        <div class="row mt-4 sp4" id="lightgallery">
                                                            <a href="img/g1.jpg" data-exthumbimage="img/g1.jpg" data-src="img/g1.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                                                                <img src="img/g1.jpg" alt="" class="img-fluid rounded">
                                                            </a>
                                                            <a href="img/g2.jpg" data-exthumbimage="img/g2.jpg" data-src="img/g2.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                                                                <img src="img/g2.jpg" alt="" class="img-fluid rounded">
                                                            </a>
                                                            
                                                            <a href="img/g3.jpg" data-exthumbimage="img/g3.jpg" data-src="img/g3.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                                                                <img src="img/g3.jpg" alt="" class="img-fluid rounded">
                                                            </a>
                                                            <a href="img/g2.jpg" data-exthumbimage="img/g2.jpg" data-src="img/g2.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                                                                <img src="img/g2.jpg" alt="" class="img-fluid rounded">
                                                            </a>
                                                            <a href="img/g3.jpg" data-exthumbimage="img/g3.jpg" data-src="img/g3.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                                                                <img src="img/g3.jpg" alt="" class="img-fluid rounded">
                                                            </a>
                                                            <a href="img/g1.jpg" data-exthumbimage="img/g1.jpg" data-src="img/g1.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                                                                <img src="img/g1.jpg" alt="" class="img-fluid rounded">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card mt-5">
                                                <div class="card-body">
                                                    <div class="profile-news">
                                                        <h5 class="text-primary d-inline">Our Latest News</h5>
                                                        <div class="d-flex pt-3 pb-3">
                                                            <img src="img/imageUplod1697897813367-485860.jpg" alt="image" class="me-3 rounded" width="75">
                                                            <div class="media-body">
                                                                <h5 class="m-b-5"><a href="post-details.html" class="text-black">Collection of textile samples</a></h5>
                                                                <p class="mb-0">I shared this on my fb wall a few months back, and I thought.</p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex pt-3 pb-3">
                                                            <img src="img/imageUplod1697897813367-485860.jpg" alt="image" class="me-3 rounded" width="75">
                                                            <div class="media-body">
                                                                <h5 class="m-b-5"><a href="post-details.html" class="text-black">Collection of textile samples</a></h5>
                                                                <p class="mb-0">I shared this on my fb wall a few months back, and I thought.</p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex pt-3 pb-3">
                                                            <img src="img/imageUplod1697897813367-485860.jpg" alt="image" class="me-3 rounded" width="75">
                                                            <div class="media-body">
                                                                <h5 class="m-b-5"><a href="post-details.html" class="text-black">Collection of textile samples</a></h5>
                                                                <p class="mb-0">I shared this on my fb wall a few months back, and I thought.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="card h-auto">
                                        <div class="card-body">
                                            <div class="profile-tab">
                                                <div class="custom-tab-1">
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item"><a href="#my-posts" data-bs-toggle="tab" class="nav-link active show">Posts</a>
                                                        </li>
                                                        <li class="nav-item"><a href="#about-me" data-bs-toggle="tab" class="nav-link">About Me</a>
                                                        </li>
                                                        <li class="nav-item"><a href="#profile-settings" data-bs-toggle="tab" class="nav-link">Setting</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="my-posts" class="tab-pane fade active show">
                                                            <div class="my-post-content pt-3">
                                                                <div class="post-input">
                                                                    <textarea name="textarea" id="textarea" cols="30" rows="5" class="form-control bg-transparent mb-4" placeholder="Please type what you want...."></textarea> 
                                                                    <a href="javascript:void(0);" class="btn btn-primary light me-1 px-3" data-bs-toggle="modal" data-bs-target="#linkModal"><i class="fa fa-link m-0"></i> </a>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="linkModal">
                                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Social Links</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <a class="btn-social facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                                                                    <a class="btn-social google-plus" href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
                                                                                    <a class="btn-social linkedin" href="javascript:void(0)" ><i class="fab fa-linkedin-in"></i></a>
                                                                                    <a class="btn-social instagram" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                                                                                    <a class="btn-social twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                                                                    <a class="btn-social youtube" href="javascript:void(0)"><i class="fab fa-youtube"></i></a>
                                                                                    <a class="btn-social whatsapp" href="javascript:void(0)"><i class="fab fa-whatsapp"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <a href="javascript:void(0);" class="btn btn-primary light me-1 px-3" data-bs-toggle="modal" data-bs-target="#cameraModal"><i class="fa fa-camera m-0"></i> </a>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="cameraModal">
                                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Upload images</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <div class="input-group mb-3">
                                                                                        <span class="input-group-text">Upload</span>
                                                                                        <div class="form-file">
                                                                                            <input type="file" class="form-file-input form-control">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">Post</a>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="postModal">
                                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Post</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                     <textarea name="textarea" id="textarea2" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type what you want...."></textarea>
                                                                                     <a class="btn btn-primary" href="javascript:void(0)">Post</a>																		 
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                                    <img src="img/pr.jpg" alt="pr" class="img-fluid w-100 rounded mb-4 mt-4">
                                                                    <a class="post-title" href="post-details.html"><h3 class="text-black">Collection of textile samples lay spread</h3></a>
                                                                    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                                                        of spare which enjoy whole heart.</p>
                                                                    <button class="btn btn-primary me-2"><span class="me-2"><i
                                                                                class="fa fa-heart"></i></span>Like</button>
                                                                    <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#replyModal"><span class="me-2"><i
                                                                                class="fa fa-reply"></i></span>Reply</button>
                                                                </div>
                                                                <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                                    <img src="img/pr2.jpg" alt="pr" class="img-fluid w-100 rounded mb-4">
                                                                    <a class="post-title" href="post-details.html"><h3 class="text-black">Collection of textile samples lay spread</h3></a>
                                                                    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                                                        of spare which enjoy whole heart.</p>
                                                                    <button class="btn btn-primary me-2"><span class="me-2"><i
                                                                                class="fa fa-heart"></i></span>Like</button>
                                                                    <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#replyModal"><span class="me-2"><i
                                                                                class="fa fa-reply"></i></span>Reply</button>
                                                                </div>
                                                                <div class="profile-uoloaded-post pb-3">
                                                                    <img src="img/pr.jpg" alt="pr" class="img-fluid w-100 rounded mb-4">
                                                                    <a class="post-title" href="post-details.html"><h3 class="text-black">Collection of textile samples lay spread</h3></a>
                                                                    <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                                                        of spare which enjoy whole heart.</p>
                                                                    <button class="btn btn-primary me-2"><span class="me-2"><i
                                                                                class="fa fa-heart"></i></span>Like</button>
                                                                    <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#replyModal"><span class="me-2"><i
                                                                                class="fa fa-reply"></i></span>Reply</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="about-me" class="tab-pane fade">
                                                            <div class="profile-about-me">
                                                                <div class="pt-4 border-bottom-1 pb-3">
                                                                    <h5 class="text-primary">About Me</h5>
                                                                    <p class="mb-2">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence was created for the bliss of souls like mine.I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                                                                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                                                                </div>
                                                            </div>
                                                            <div class="profile-skills mb-5">
                                                                <h5 class="text-primary mb-2">Skills</h5>
                                                                <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Admin</a>
                                                                <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Dashboard</a>
                                                                <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Photoshop</a>
                                                                <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Bootstrap</a>
                                                                <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Responsive</a>
                                                                <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Crypto</a>
                                                            </div>
                                                            <div class="profile-lang  mb-5">
                                                                <h5 class="text-primary mb-2">Language</h5>
                                                                <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-us"></i> English</a> 
                                                                <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-fr"></i> French</a>
                                                                <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-bd"></i> Bangla</a>
                                                            </div>
                                                            <div class="profile-personal-info">
                                                                <h5 class="text-primary mb-4">Personal Information</h5>
                                                                <div class="row mb-2">
                                                                    <div class="col-sm-3 col-5">
                                                                        <h5 class="f-w-500">Name <span class="pull-end">:</span>
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-9 col-7"><span><%= users.name %></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-sm-3 col-5">
                                                                        <h5 class="f-w-500">Email <span class="pull-end">:</span>
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-9 col-7"><span><%= users.email %></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-sm-3 col-5">
                                                                        <h5 class="f-w-500">Availability <span class="pull-end">:</span></h5>
                                                                    </div>
                                                                    <div class="col-sm-9 col-7"><span>Full Time (Free Lancer)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-sm-3 col-5">
                                                                        <h5 class="f-w-500">Age<span class="pull-end">:</span></h5>
                                                                    </div>
                                                                    <div class="col-sm-9 col-7"><span><%= users.age %></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-sm-3 col-5">
                                                                        <h5 class="f-w-500">Location <span class="pull-end">:</span></h5>
                                                                    </div>
                                                                    <div class="col-sm-9 col-7"><span><%= users.description %></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-2">
                                                                    <div class="col-sm-3 col-5">
                                                                        <h5 class="f-w-500">Year Experience <span class="pull-end">:</span></h5>
                                                                    </div>
                                                                    <div class="col-sm-9 col-7"><span>07 Year Experiences</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="profile-settings" class="tab-pane fade">
                                                            <div class="pt-3">
                                                                <div class="settings-form">
                                                                    <h5 class="text-primary">Account Setting</h5>
                                                                    <form>
                                                                        <div class="row">
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Email</label>
                                                                                <input type="email" placeholder="Email" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Password</label>
                                                                                <input type="password" placeholder="Password" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label">Address</label>
                                                                            <input type="text" placeholder="1234 Main St" class="form-control">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label">Address 2</label>
                                                                            <input type="text" placeholder="Apartment, studio, or floor" class="form-control">
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">City</label>
                                                                                <input type="text" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-4">
                                                                                <label class="form-label">State</label>
                                                                                <select class="form-control default-select wide" id="inputState">
                                                                                    <option selected="">Choose...</option>
                                                                                    <option>Option 1</option>
                                                                                    <option>Option 2</option>
                                                                                    <option>Option 3</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="mb-3 col-md-2">
                                                                                <label class="form-label">Zip</label>
                                                                                <input type="text" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <div class="form-check custom-checkbox">
                                                                                <input type="checkbox" class="form-check-input" id="gridCheck">
                                                                                <label class="form-check-label form-label" for="gridCheck"> Check me out</label>
                                                                            </div>
                                                                        </div>
                                                                        <button class="btn btn-primary" type="submit">Sign
                                                                            in</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal -->
                                                <div class="modal fade" id="replyModal">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Post Reply</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <textarea class="form-control" rows="4">Message</textarea>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Reply</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }%>
                        <% }) %>
                    <% } %>
                    
                   
                </div>
            </div>
                
                    
                    
        
            <!-- Widgets End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/moment-timezone.min.js"></script>
    <script src="js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>




